@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(85, 214, 170, .7);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  }

.logo {
  margin: 0;
  padding: 1em;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 9000;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background);
  overflow: hidden;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  z-index: -1;
}

.nav-toggle__label {
  position: absolute;
  height: 100%;
  display: flex;
  padding-left: 1em;
  align-items: center;
  left: 0;
  top: 0;
}

.nav-toggle__label span,
.nav-toggle__label span::before,
.nav-toggle__label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 100%;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle__label span::before,
.nav-toggle__label span::after {
  content: '';
  position: absolute;
}

.nav-toggle__label span::before {
  bottom: 7px;
}

.nav-toggle__label span::after {
  top: 7px;
}

.nav ul {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ .nav {
  transform: scale(1,1)
}

.nav-toggle:checked ~ .nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle__label {
    display: none;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / span 1;
  }
  
  .nav {
    all: unset;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav li {
    position: relative;
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    position: relative;
    opacity: 1;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1)
  }

}



.content {
  height: 200vh;
  background-color: #333;
  background-image: url("http://www.cosmogirl.co.id/gallery/teaser/ca3397725793fdf6994b50a63d97a875.jpg");
  background-blend-mode: multiply;
  background-size: contain;
  display: grid;
  place-items: center;

}


  #footer {
  clear: both;
  color: black;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: white;

 }

.WeAre {
 text-align:center;
 color:black;
 background-color:white;
 margin-bottom: 900px;
 float: left;
 height: 260px;
 width: 800px;
 border-radius: 25px;
  }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 200px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(85, 214, 170, .7);
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

.Table1 {
  float: left;
  width: 50%;
 
}

.Table2 {
  float: right;
  width:50%;
 
}



